.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        border: 1px solid lightgray;
        padding: 0px 0px 10px 0px;
        max-width: 20%;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        width: 300px;

        h2 {
            text-align: center;
            background-color: lightgray;
            margin-bottom: 0;
        }
        
        .img-sec {
            img {
                width: 100%;
                height: 200px;
            }
        }

        .availble {
            text-align: center;
            background-color: lightgreen;
        }

        .not-availble {
            text-align: center;
            background-color: lightcoral;
        }

        .card-content {
            padding: 12px;
        }
    }
}