<div class="container">
    <div class="card">
        <div>
            <h2>{{itemDetails?.name}}</h2>
            <img [src]="itemDetails?.imageUrl" [alt]="itemDetails?.name" [title]="itemDetails?.name">
        </div>
        <div class="card-content">
            <div>
                <span><b>Price:</b> {{itemDetails?.price | currency : 'USD'}}</span>
            </div>
            <div>
                <span><b>Availability:</b> {{itemDetails?.availableQty}}</span>
            </div>
            <div>
                <span><b>Description:</b> {{itemDetails?.description}}</span>
            </div>
            <div>
                <h3 *ngIf="itemDetails?.availableQty" class="availble">Available</h3>
                <h3 *ngIf="!itemDetails?.availableQty" class="not-availble">Not Available</h3>
            </div>
            <div>
                <button routerLink="/menu-items/checkout" mat-raised-button color="primary" class="full-width" [disabled]="!itemDetails?.availableQty">Checkout</button>
            </div>
        </div>
    </div>
</div>